/* MODERN CSS RESET */
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
  margin: 0;
}

/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  background-color: lightyellow
}

.container {
  width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.formButtonContainer {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.buttonContainer {
  position: relative;
}

#convertUnitButton {
  position: absolute;
  right: 0px;
}

.current {
  width: 400px;
  margin: auto;
  background-color: lightgreen;
  margin-top: 20px;
  margin-bottom: 20px;
}

.current p {
  text-align: center;
}

.current img {
  margin: auto;
  width: 128px;
}

.current + p {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 12px;
}

.currentCity {
  font-size: 30px;
  font-weight: 600;
}

.currentTime {
  font-size: 30px;
  font-weight: 600;
}

.currentTemperature {
  font-size: 60px;
  font-weight: 600;
}

.weeklyForecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}

.weeklyForecast + p {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: -12px;
  padding-bottom: 0px;
}

.dayShort {
  background-color: lightblue;
  position: relative;
}

.dayShort p {
  text-align: center;
}

.dayShort p.pCondition {
  height: 50px;
  padding-top: 20px;
}

.dayShort img {
  margin: auto;
}

/* .dayShort * {
  background-color: lightblue;
} */

.hourlyForecastContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fit-content 1fr;
  column-gap: 20px;
  row-gap: 10px;
  width: 900px;
  margin: auto;
  margin-top: 20px;
}

.hourlyForecastContainer > p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.hourlyForecast {
  display: grid;
  grid-template-rows: repeat(24, 1fr);
  gap: 10px;
}

.hour {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: lightpink;
  align-items: center;
}


p.hourContentTime {
  font-size: 24px;
  font-weight: 600;
}